<template>
  <div class="min-h-screen bg-gray-100 flex items-center justify-center px-4">
    <div class="max-w-4xl text-left bg-white w-full rounded-lg shadow-xl">
      <div class="p-8">
        <div class="font-semibold text-2xl mb-2">Todo List Test</div>
        <div class="flex flex-row space-x-3 mb-6">
          <div class="bg-blue-500 p-1 rounded uppercase font-semibold text-sm text-white">
            Total: {{ total }}
          </div>
          <div class="bg-green-500 p-1 rounded uppercase font-semibold text-sm text-white">
            Completed: {{ completed }}
          </div>
          <div class="bg-red-500 p-1 rounded uppercase font-semibold text-sm text-white">
            Proccessing: {{ proccessing }}
          </div>
        </div>
        <div class="flex">
          <input
            type="text"
            v-model="title"
            @keyup.enter="addTodo($event)"
            @keypress="typing = true"
            class="
              w-full
              border-b
              focus-within:outline-none
              focus:border-blue-500
              transition-colors
            "
            placeholder="What do you want to do?"
          />
          <button
            @click="addTodo($event)"
            class="mx-4 bg-blue-400 px-4 py-1 rounded text-white focus:outline-none shadow"
          >
            Add
          </button>
        </div>
        <small class="text-gray-400" v-show="typing">Hit enter to save</small>

        <div class="mt-4" v-if="true">
          <textarea
            cols="30"
            placeholder="Add description"
            v-model="desc"
            class="border p-1 focus-within:outline-none focus:border-blue-500 transition-colors"
            rows="3"
          ></textarea>
        </div>
        <template v-if="errored">
          <div class="text-center text-gray-500">
            We are sorry, we are unable to load todos at the moment. Please retry later.
          </div>
        </template>
        <template v-else>
          <div class="text-center text-gray-500" v-if="loading">Loading...</div>
          <div class="text-center text-gray-400 text-4xl" v-else-if="todos.length == 0">
            Empty todo
          </div>
          <ul class="x space-y-4 mt-8" v-else>
            <li v-for="todo in todos" :key="todo.title">
              <div class="shadow rounded p-2">
                <div class="flex flex-row justify-between">
                  <div class="flex flex-col">
                    <div class="font-semibold" :class="{ 'text-gray-400 line-through': todo.done }">
                      {{ todo.title }}
                    </div>
                    <div class="text-sm text-gray-500" v-if="todo.description">
                      {{ todo.description }}
                    </div>
                    <div class="text-xs text-grey" v-if="todo.dueDate">Time {{ i }}</div>
                  </div>
                  <div class="">
                    <div class="flex flex-row justify-items-center items-center space-x-2">
                      <input
                        type="checkbox"
                        v-model="todo.done"
                        :checked="todo.done"
                        :value="todo.done"
                        @click.stop="updateTodo(todo)"
                      />
                      <span class="cursor-pointer text-red-500" @click="deleteTodo(todo._id)">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="h-6 w-6"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke="currentColor"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
                          />
                        </svg>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

const BASE_URL = "http://localhost:3000/todos";

export default {
  name: "Home",
  components: {},
  setup() {
    return {};
  },
  data() {
    return {
      loading: true,
      errored: false,
      typing: false,
      total: 0,
      completed: 0,
      proccessing: 0,
      todos: [],
      title: "",
      desc: "",
      dueDate: "",
    };
  },
  methods: {
    addTodo(event) {
      if (event) event.preventDefault();

      let todo = {
        title: this.title,
        description: this.desc,
        dueDate: this.dueDate,
      };
      console.log(todo);
      axios
        .post(`${BASE_URL}/create`, todo)
        .then((response) => {
          this.getTodos();
          this.clearTodo();
          this.refreshTodo();
          this.typing = false;
          console.log(response);
        })
        .catch((error) => {
          console.log(error);
        });
    },
    clearTodo() {
      this.title = "";
      this.description = "";
    },
    updateTodo(todo) {
      let id = todo._id;
      console.log(todo.done);
      axios
        .put(`${BASE_URL}/${id}`, todo)
        .then((response) => {
          this.getTodos();
          console.log(response);
        })
        .catch((error) => {
          console.log(error);
        });
    },
    deleteTodo(id) {
      axios
        .delete(`${BASE_URL}/${id}`)
        .then((response) => {
          this.getTodos();
          console.log(response);
        })
        .catch((error) => {
          console.log(error);
        });
    },
    refreshTodo() {
      this.emitter.emit("refreshTodo");
    },
    getTodos() {
      axios
        .get(BASE_URL)
        .then((response) => {
          this.todos = response.data;
          this.total = this.todos.length;
          this.completed = this.todos.filter((todo) => todo.done == true).length;
          this.proccessing = this.todos.filter((todo) => todo.done == false).length;
        })
        .catch((error) => {
          console.log(error);
          this.errored = true;
        })
        .finally(() => (this.loading = false));
    },
  },
  mounted() {
    this.getTodos();
  },
};
</script>
